@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
    background-color: rgb(241, 221, 234);
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Hind', sans-serif;
}

nav ul{
    color: white;
    align-items: center;
    display: flex;
    list-style-type: none;
    height: 65px;
    background-color: black;
}

nav ul li{
    padding: 0 12px;
}

.brand img{
    width: 44px;
    padding: 0 8px;
    
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    min-height: 65vh;
    background-color: black;
    color: white;
    font-family: 'Hind', sans-serif;
    display: flex;
    margin: 24px auto;
    width: 80%;
    border-radius: 12px;
    padding: 25px;
    background-image: url('bg.jpg');
}

.songItemContainer{
    margin-top: 30px;
}

.bottom{
    position: sticky;
    height: 90px;
    color: white;
    background-color: black;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#myProgressBar{
    width: 80vw;
}

.songItem{
    height: 45px;
    margin: 12px;
    background-color: white;
    color: black;
    border-radius: 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.songItem img{
    margin: 0 23px;
    width: 43px;
    border-radius: 34px;
}

.timestamp{
    margin: 0 23px;
}

.timestamp i{
    margin: 0 8px;
    cursor: pointerss;
}

.songInfo{
    position: absolute;
    left: 10vw;
}

.songInfo img{
    opacity: 0;
    transition: opacity 1s ease-in;
}